.dashboard{
  margin-left: 11rem;
  margin-top: 7rem;

  h1{
    text-align: start;
    padding-left: 3rem;
    font-size: 48px;
  }
  h2{
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  &__container{
    display: grid;
    grid-template-areas:
      "graphs graphs sidestats";
    margin: 0 3rem;
  }
  .title-red{
    color: red;
  }
  .charts_list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  &__charts{
    grid-area: graphs;
  }
  &__sidestats{
    grid-area: sidestats;
  }
}