.sessionsChart{
  width: 250px;
  height: 250px;
  background-color: #ff0000;
}
.tooltipContainer{
    width: 54.6px;
    height: 35px;
    background-color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}