.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 10rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menu{
    margin: 0 !important;
  }
}